{:source-paths ["src"]

 :dependencies [[reagent "0.8.0-alpha2"]]

 :builds {:app {:target :browser
                :output-dir "public/js"
                :asset-path "js"
                :modules {:main {:entries [starter.core]}}
                :devtools {:before-load starter.core/stop
                           :after-load starter.core/start
                           :http-root "public"
                           :http-port 8020}}}}
